*{margin:0;padding:0;font-size: 14px;font-family: 微软雅黑}
.top_banner{
	width:100%;
	height:238px;
	margin:0 auto;
	background-image: url(../image/bg_image.png);
	background-size: 1391px 558px;
    background-position-y: 424px;
}
.top_banner_1{
	width:100%;
	height:39px;
	border-bottom: 1px solid #d6d7dc;
	margin:0 auto;
}
.top_banner_1 p{
	width: 1154px;
	height: 39px;
	line-height: 39px;
	text-align: right;
	margin:0 auto;
	font-weight: bold;
	
}
.top_banner_1 p a{
	color: #696969;
	text-decoration: none;
}
.top_banner_2{
	width: 1154px;
	height: 121px;
	margin:0 auto;
	margin-top: 28px;
}
.top_banner_2_left{
	float: left;
	margin-top:35px;
}
.top_banner_2_right{
	float: right;
	position: relative;
	margin-top:24px;
}
.top_banner_2_right .time{
	color:#999;
	font-weight: bold;
	margin-top: 14px;
	text-align: right;
}
.top_banner_2_right .search{
	margin-top: 12px;
}
.sea{
	width: 289px;
	height: 30px;
	line-height: 30px;
	border:1px solid #cdcdcd;
}
.chax{
	width:75px;
	height: 31px;
	background-color: #4c719e !important;
	color: #fff;
	font-weight: bold;
	border:0;
	position: absolute;
	right: 0;top: 45px
}
.chax:hover{
	cursor: pointer;
}
.clear{
	clear:both;
}
.top_banner_3{
	width:100%;
	height:50px;
	margin:0 auto;
	background-color: #025194;
	margin-top: 40px;
}
.daoh{
	list-style: none;
	width: 1154px;
	margin:0 auto;
}
.daoh li{
	width:192.3px;
	text-align: center;
	
	float: left;
	
	line-height: 50px;
}
.daoh li a{
	color:#fff;
	text-decoration: none;
	font-size: 16px;
}
.daoh li:hover,.Navon{
	background-color: #00a0ea;
}
.center_con{
	width: 1154px;
	margin:0 auto;

}
.center_con1{
	width: 1154px;
	margin:0 auto;
    background-color:#fff;
}
.center_con_01{
	height: 328px;
}
.center_con_01 .center_con_01_left{
	width: 432px;
	height: 328px;
	float: left;
	background-color: #fff;

}
.center_con_01 .center_con_01_right{
	width: 703px;
	height: 328px;	
	float: right;
	background-color: #fff;
}
.center_con_02{
	margin:17px 0 13px 0;
}
.center_con_02 a{
	border:0;	
}
.center_con_03{
	height: 334px;
}
.center_con_03 .center_con_03_left{
	width: 432px;
	height: 334px;
	float: left;
	background-color: #fff;
}
.center_con_03 .center_con_03_right{
	width: 703px;
	height: 334px;
	float: right;
	background-color: #fff;
}
.center_con_04{
	height: 334px;
	margin:10px 0 31px 0;
}
.center_con_04 .center_con_04_left{
	width: 432px;
	height: 334px;
	float: left;
	background-color: #fff;
}
.center_con_04 .center_con_04_right{
	width: 703px;
	height: 334px;
	float: right;
	background-color: #fff;
}
.NavOn{background-color: #00a0ea;display: inline-block;font-weight: bold;}
/*图片轮播*/
#a1{border:0;width: 432px;height: 288px;}
#a1:hover,.center_con_01_left img:hover{cursor: pointer;}
.center_con_01_left a{color: #333;text-decoration: none;}
.a2{position:absolute;top: 531px;width:432px;height: 28px;text-align: center;background-image: url(../image/bg_show.png)}
.a2 img{width: 10px;height: 10px;}
.center_con_01_left p{height: 40px;line-height: 40px;width:432px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;
color:#323232;padding-left:10px;font-size: 14px;}
.center_con_01_left p:hover{cursor: pointer;}
.a2 img{position: relative;margin-left: 6px;margin-top: 10px;}
/*科技部工作*/
.title_lian{
	height: 50px;
	border-bottom: 1px solid #ccc;
	line-height: 50px;
}
.title_lian_left{
	width: 150px;
	float: left;
	position: relative;	
	/* background-image: url(../image/title.png);
	background-repeat: no-repeat;
	background-position:center; */
	/* background-size: 107px 28px;
	background-position: 20px 14px; */
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.title_lian_left img{
	margin:13px 0 0 8px;
	height: 26px;
}
.title_lian_left_tit{
	position: absolute;
	left: 50px;top:0;
}
.title_lian_left1{
	background-position: 19px 14px;
}
.title_lian_right{
	float: right;
	padding-right: 20px;
}
.title_lian_right a{
	color: #323232;
	text-decoration: none;
}
.center_con ul{
	margin-left: 21px;
	margin-top: 8px;
}
.center_con ul li{
	list-style: none;
	line-height: 24px;
}
.li_left{
	float: left;
	width: 606px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.li_left a{
	color: #323232;
	text-decoration: none;
}
.li_right{
	float: right;
	padding-right: 20px;
	color:#909090;
}
/*通知公告*/
.center_con_03_left .tzgg{
	list-style: none;
	margin-left: 20px;

}
.tzgg li{
	height:31px;
	line-height: 31px;
	border-bottom:1px dashed #d9d8d8;
	padding-left: 15px;
}
.tzgg .tzgg_left{
	float: left;
	width:325px;
	line-height: 31px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.tzgg .tzgg_left a{
	color: #323232;
	text-decoration: none;
}
.tzgg .tzgg_right{
	float: right;
	padding-right: 20px;
	color:#909090;
}
.zzjg_01{
	height: 93px;
	margin: 5px 20px 5px 20px;
	border-bottom: 1px solid #d6d7dc;

}
.zzjg_01 p{
	line-height:22px;
	width: 370px;
}
.zzjg_01 p a{
	text-decoration: none;
	color: #323232;
	    margin-right: 20px;
}
.zzjg_02,.zzjg_04{
	float: left;
	width: 190px;
	height: 82px;
	background-image: url(../image/zzjg_kuang.png);
	margin-left: 20px;
}
.zzjg_03,.zzjg_05{
	float: right;
	width: 190px;
	height: 82px;
	background-image: url(../image/zzjg_kuang.png);
	margin-right: 20px;
}
.zzjg02 {
    width: 190px;
    height: 82px;
    background-image: url(../image/zzjg_kuang.png);
    float: left;
    margin-left: 20px;
}
.zzjg02 img{
border:0;
}
.zzjg_02:hover,.zzjg_04:hover,.zzjg_03:hover,.zzjg_05:hover{
	cursor: pointer;
}
a .zzjg_03,a .zzjg_05,a .zzjg_02,a .zzjg_04{
	color: #323232;
}
.zzjg_04,.zzjg_05{
	margin-top: 5px;
}
.zzjg_left{
	float: left;
	margin-left:10px;
	margin-top:10px;
}
.zzjg_right{
	float: left;
	margin-left:10px;
	width: 100px;
	margin-top:33px;
}
.bottom{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color:#fff;
	background-color: #005399;
	margin:0 auto;
	font-size: 12px;
}
.list-content{
		width: 1180px;
		margin: 0 auto;}
.list-content-left {
width: 1100px;
box-sizing: border-box;
float: left;
margin-left:19px;
}
.list-content-left h2 {

font-size: 18px;
border-bottom: 1px solid #ECEAEA;
padding: 30px 0 20px 0;
color: #333;
}
.news-list {
width: 1100px;
border-bottom: 1px solid #ECEAEA;
padding: 15px 0 15px 0;
}
.news-list p {
line-height: 24px;
   
}
.page {
margin: 0 auto;
text-align: center;
list-style: none;
}
.news-list-right {
float: right;
width: 215px;
font-size: 14px;
text-align: right;
color: #333;
margin-right: 20px;
}
.news-list-left {
float: left;

}
.news-list p a {
color: #333;
text-decoration: none;
margin-left: 20px;
}
.page .navli {
background-color: #025194;
color: white;}
.page a {
display: inline-block;
width: 32px;
line-height: 32px;
background-color: #F5F7F8;
border: 1px solid #025194;
margin: 20px 8px 20px 0;
color: #222225;
text-decoration: none;
}

.page a:hover{
background-color: #025194;
color: #fff;
}

.page .num_page {
border: 0;
}
.page .next_page, .page .pre_page, .page .num_page {
width: 64px;
}
.page .num_page {
border: 0;
}
.list-content-right {
width: 280px;
float: right;
margin-left: 8px;
}
.list-content-right p {
margin: 0 0 10px 0;
}